body{
    background: url(LA_011.png) top center fixed;
    background-attachment: scroll;
    /*max-width: 100%;*/
    margin-left: 0px;
    margin-right: 0px;

  }
  
  img{
      display: block;
      margin-left: auto;
      margin-right: auto;
      max-width: auto;
  }
  
  h1{
    font-family: 'Titillium Web', sans-serif;
    color:#ffffff;
    font-size: 10vw;
    text-align: center;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: -5.2vw;
    margin-bottom: 1vmax;
  }

  h2{
    font-family: 'Titillium Web', sans-serif;
    color:#ffffff;
    font-size: 5vw;
    text-align: center;
    -webkit-text-stroke: 2px rgb(0, 0, 0);
    margin-left: 3vmax;
    margin-right: 3vmax;
    margin-top: 0vmax;
  }

  h3{
    font-family: 'Titillium Web', sans-serif;
    color:#ffffff;
    font-size: 2vw;
    text-align: center;
    -webkit-text-stroke: 2px rgb(0, 0, 0);
    margin-left: 1vmax;
    margin-right: 1vmax;
    padding: 10px;
  }

  h4{
    font-family: 'Titillium Web', sans-serif;
    color:#ffffff;
    font-size: 2vw;
    text-align: justify;
    -webkit-text-stroke: 2px rgb(0, 0, 0);
    margin-left: 1vmax;
    margin-right: 1vmax;
    padding: 10px;
  }
  h5{
    font-family: 'Titillium Web', sans-serif;
    color:#ffffff;
    font-size: 3vw;
    text-align: left;
    -webkit-text-stroke: 2px rgb(0, 0, 0);
    margin-left: 0vmax;
    margin-right: 1vmax;
    padding: 10px;
  }
  
  .column{
    width: 100%;
    padding-top: 150px;
    padding-right: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
  }

  .description{
    width: 100%;
    padding-top: 150px;
    padding-right: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
  }
  
  footer{
    color:#ffffff;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    padding-bottom: 50px;
    padding-top: 100px;
  }
  
  p{
    padding-top: 2px;
    padding-right: 10px;
    padding-bottom: 2px;
    padding-left: 10px;
    color:#ffffff;
  }
  
  a:link{
    text-decoration: none;
    color:#ffffff;

  }

  a:visited{
    color: #eaf4ff;
  
  }

  a:hover{
    color: #4c40f6;
  }
  
  a:active{
    color: #0000FF;
  }